<a href="https://colab.research.google.com/github/weiping0602/fin_data/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [58]:
url = "https://raw.githubusercontent.com/weiping0602/fin_data/refs/heads/main/balancesheet.csv"

In [59]:
df1 = pd.read_csv(url, index_col=0, encoding='unicode_escape')

In [60]:
df1

,YYYY/MM,Quarter,consolidation,Month,Currency,Total cash and cash equivalents,Total current financial assets at fair value through profit or loss,Financial assets at fair value through other comprehensive income - Current,Financial assets measured at amortized cost - Current,Current financial assets for hedging,...,Other equity - unearned compensation,"Other equity, others",Total other equity interest,Treasury shares,Total equity attributable to owners of parent,Interests in the former associate or jointly controlled entity,Non-controlling interest in pre-acquisition share capital,Non-controlling interests,Total equity,Total liabilities & equity
ï»¿CO_ID,,,,,,,,,,,,,,,,,,,,,
1101 TCC,2023/12,4,Y,12,NTD,66366622.0,727762.0,6972790.0,34236957.0,0.0,...,0.0,0.0,9457953.0,(732459.00),230933254.0,0.0,0.0,22967787.0,253901041.0,469438522.0
1102 ACC,2023/12,4,Y,12,NTD,33229516.0,39719980.0,4307126.0,21684983.0,0.0,...,0.0,0.0,7219740.0,0.00,169169896.0,0.0,0.0,22693671.0,191863567.0,336726851.0

In [61]:
url = "https://raw.githubusercontent.com/weiping0602/fin_data/refs/heads/main/Income%20Statement.csv"

In [62]:
df2 = pd.read_csv(url, index_col=0, encoding='unicode_escape')

In [63]:
df2

,YYYY/MM,Gross operating revenue,Total rental revenue,Operating revenue - Disposal of lands,Interest revenue,Operating revenue - disposal of investments,Total investment revenue,Sales discounts and allowances,Total operating revenue,Cost of goods sold (A) ã,...,Preferred stock dividends,Diluted net income,Total diluted earnings per share,Average diluted common shares (Thousand),Earnings before interest and tax,"Earnings before interest, tax, depreciation and amortization",Recurring net income,Treasury shares-buys back,Treasury shares-subsidiary holding,Total treasury shares
ï»¿CO_ID,,,,,,,,,,,,,,,,,,,,,
1101 TCC,45261.0,109314335.0,0.0,0.0,0.0,0.0,0.0,0.0,109314335.0,88780566.0,...,350000.0,7951328.0,1.04,7659839.0,17899515.0,27184237.0,10600473.0,20000.0,0.0,20000.0
1102 ACC,45261.0,78727593.0,992954.0,0.0,0.0,2461434.0,461190.0,79162.0,82564009.0,69745612.0,...,0.0,10882826.0,3.28,3320343.0,15708818.0,20464516.0,8010305.0,0.0,0.0,0.0

In [64]:
df1.columns

Index(['YYYY/MM', 'Quarter', 'consolidation', 'Month', 'Currency',
       'Total cash and cash equivalents',
       'Total current financial assets at fair value through profit or loss',
       'Financial assets at fair value through other comprehensive income - Current',
       'Financial assets measured at amortized cost - Current',
       'Current financial assets for hedging',
       ...
       'Other equity - unearned compensation', 'Other equity, others',
       'Total other equity interest', 'Treasury shares',
       'Total equity attributable to owners of parent',
       'Interests in the former associate or jointly controlled entity',
       'Non-controlling interest in pre-acquisition share capital',
       'Non-controlling interests', 'Total equity',
       'Total liabilities & equity'],
      dtype='object', length=111)

In [65]:
df2.columns

Index(['YYYY/MM', 'Gross operating revenue', 'Total rental revenue',
       'Operating revenue - Disposal of lands', 'Interest revenue',
       'Operating revenue - disposal of investments',
       'Total investment revenue', 'Sales discounts and allowances',
       'Total operating revenue', 'Cost of goods sold (A) ã',
       ...
       'Preferred stock dividends', 'Diluted net income',
       'Total diluted earnings per share',
       'Average diluted common shares (Thousand)',
       'Earnings before interest and tax',
       'Earnings before interest, tax, depreciation and amortization',
       'Recurring net income', 'Treasury shares-buys back',
       'Treasury shares-subsidiary holding', 'Total treasury shares'],
      dtype='object', length=129)

In [40]:
df1.index

Index(['1101 TCC', '1102 ACC'], dtype='object', name='ï»¿CO_ID')

In [41]:
df2.index

Index(['1101 TCC', '1102 ACC'], dtype='object', name='ï»¿CO_ID')

In [42]:
X1 ='Total current assets'
X2 ='Total current liabilities'
X3 ='Total assets'
X4 ='Total retained earnings'
X5 ='Earnings before interest and tax'
X6 ='Total equity'
X7 ='Total operating revenue'
TCC ='1101 TCC'
ACC ='1102 ACC'

In [66]:
df1.loc['1101 TCC','Total current assets']

153113300.0

In [69]:
A_1101 = (df1.loc['1101 TCC','Total current assets'] - df1.loc['1101 TCC','Total current liabilities'])/df1.loc['1101 TCC','Total assets']

In [70]:
A_1101

0.17154975620002486

In [71]:
B_1101 = df1.loc['1101 TCC','Total retained earnings'] /df1.loc['1101 TCC','Total assets']

In [72]:
B_1101

0.15034296865820485

In [74]:
C_1101 = df2.loc['1101 TCC','Earnings before interest and tax'] /df1.loc['1101 TCC','Total assets']

In [75]:
C_1101

0.03812962541663762

In [80]:
D_1101 = df1.loc['1101 TCC','Total equity'] /df1.loc['1101 TCC','Total assets']

In [81]:
D_1101

0.5408611119476897

In [82]:
E_1101 = df2.loc['1101 TCC','Total operating revenue'] /df1.loc['1101 TCC','Total assets']

In [83]:
E_1101

0.23286187621389964

In [86]:
Z_score_1101 = 1.2*A_1101 + 1.4*B_1101 + 3.3*C_1101 + 0.6*D_1101 +1.0*E_1101

In [87]:
Z_score_1101

1.0995461708189342

In [89]:

X1 ='Total current assets'
X2 ='Total current liabilities'
X3 ='Total assets'
X4 ='Total retained earnings'
X5 ='Earnings before interest and tax'
X6 ='Total equity'
X7 ='Total operating revenue'
TCC ='1101 TCC'
ACC ='1102 ACC'

In [90]:
df1.loc[TCC,X3]

469438522.0

In [91]:
A_TCC = (df1.loc[TCC,X1] - df1.loc[TCC,X2])/df1.loc[TCC, X3]

In [92]:
A_TCC

0.17154975620002486

In [97]:
B_TCC = df1.loc[TSMC,X4] /df1.loc[TSMC, X3]

In [98]:
B_TCC

0.15034296865820485

In [96]:
C_TCC = df2.loc[TCC,X5] /df1.loc[TCC, X3]

In [99]:
C_TCC

0.03812962541663762

In [100]:
D_TCC = df1.loc[TCC,X6] /df1.loc[TCC, X3]

In [101]:
D_TCC

0.5408611119476897

In [103]:
E_TCC = df2.loc[TCC,X7] /df1.loc[TCC, X3]

In [104]:
E_TCC

0.23286187621389964

In [105]:
Z_score_TCC = 1.2*A_TCC + 1.4*B_TCC + 3.3*C_TCC + 0.6*D_TCC +1.0*E_TCC

In [106]:
Z_score_TCC

1.0995461708189342